body {
    font-family: Georgia, serif; 
    font-size: 14px; 
    background-color: #f7cccc; 
    color: #333333; 
    text-align: justify; 
    margin:20; 
    padding: 40; 
}


h1 {
    animation: color-change 3s infinite;
    color: hsla(43, 37%, 15%, 0.885); 
    font-size: 36px; 
    font-family: Georgia, serif; 
    text-align: center; 
    text-decoration-color: #ff6f61; 
}


h2 {
    color: hsla(31, 43%, 25%, 0.859); 
    font-size: 28px; 
    font-family: Georgia, serif; 
    text-align: center; 
}


h3 {
    color: hsla(40, 23%, 36%, 0.859); 
    font-size: 20px;
    font-family: Georgia, serif; 
    text-align: center;
    text-decoration-color: hsla(200, 70%, 50%, 0.8); 
}

h4 {
    color: hsla(39, 28%, 42%, 0.859); 
    font-size: 20px;
    font-family: Georgia, serif; 
    text-align: left;
    text-decoration-color: hsla(200, 70%, 50%, 0.8); 
}


p {
    text-align: center; 
    line-height: 1.6; 
    font-size: 16px; 
}

a {
    color: #ff6f61; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
    text-decoration-color: #0a0a0a; 
}    

@keyframes color-change {
    0% {
      color: rgb(252, 84, 84);
    }
  
    10% {
      color: rgb(252, 157, 68);
    }
  
    20% {
      color: rgba(255, 245, 109, 0.851);
    }

    30% {
        color: rgb(151, 208, 110);
    }
    
    40% {
        color: rgb(99, 241, 196);
    }
    
    50% {
        color: rgb(32, 132, 124);
    }

    60% {
        color: rgb(103, 103, 245);
    }
    
    70% {
        color: rgb(39, 48, 100);
    }
    
    80% {
        color: rgb(207, 107, 241);
    }

    90% {
        color: rgb(228, 15, 125);
      }
    
    100% {
        color: rgb(199, 87, 158);
    }
}

